<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2>GitHub repositories with the most forks</h2>
{% if top_repo_historical %}
    <ul>
    {% for repo in top_repo_historical %}
        <li><a href="{% url 'trend' repo.id %}">{{ repo.owner.login }}/{{ repo.name }} </a> ({{ repo.forks_count }} forks)</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No data for all-time top repositories.</p>
{% endif %}

<h2>GitHub repositories with the most forks during the past 30 days</h2>
{% if top_repo_last_month %}
    <ul>
    {% for repo in top_repo_last_month %}
        <li><a href="{% url 'trend' repo.id%}">{{ repo.owner.login }}/{{ repo.name }} </a> ({{ repo.forks_count }} forks)</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No data for the most forked repositories during the past 30 days</p>
{% endif %}
</body>
</html>