<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<h1>Daily commits of {{ repo_str }}</h1>

<table>
    <tr>
        <th>Week number</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    {% for repo_commit in repo_commits %}
        <tr>
            <th>{{ forloop.counter }}</th>
            {% for num_commits in repo_commit.days %}
                <th>{{ num_commits }}</th>
            {% endfor %}
        </tr>
    {% endfor %}

</table>
</body>
</html>